h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0px;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  background-color: #a099d4;
  background-image: url("../src/assets/backgroud.png");
  background-repeat: no-repeat;
  background-position: left;
}
